/* My Custom CSS */

body{
    background-color: beige;
    padding-top: 25px;
    
}

h1 {font-family: "Roboto", sans-serif;        
    
}


h2 {text-align: center;
    
    
    
}

p {font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #0D3B66;
    
}

.row {
    padding: 15px;
    height: 300px;
    width:100%;
}

.p-2 {
    width: 600px;    
    
}

.logo-container {
    text-align: center;
    
    
}


    .map {
        position: absolute; /* Position relative to the nearest positioned ancestor or the body */
        bottom: 0;          /* Align to the bottom of the page */
        left: 50%;          /* Move the left edge to the horizontal center */
        transform: translateX(-50%); /* Shift left by half its own width to truly center */
        width: 80%;         /* Adjust width as needed */
        height: 300px;      /* Adjust height as needed */
        /* Optional: Add a border for visibility */
        border: 1px solid #ccc;
    }